<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="PlayWright Automation for NOP E-Commerce Site">

    <test name="New User Test">
        <classes>
            <class name="NopCommerce.NewUserTest"/>
        </classes>
    </test>

    <test name="Login Test">
        <classes>
            <class name="NopCommerce.LoginTest"/>
        </classes>
    </test>

    <test name="Search Test">
        <classes>
            <class name="NopCommerce.SearchTest"/>
        </classes>
    </test>

</suite>